body {


scrollbar-face-color: #97adc2;
scrollbar-highlight-color: #97adc2;
scrollbar-3dlight-color: #538bad;
scrollbar-darkshadow-color: #538bad;
scrollbar-shadow-color: #538bad;
scrollbar-arrow-color: #ebebeb;
scrollbar-track-color: #6b8aa8;

}
#steps{
	overflow: auto; 
	width:500px; 
	height:100px;}
	


body{
	background:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	margin:0px;
	margin-left:10px;
	font:normal;
	font-size:10px;
}


a, a:link, a:visited, a:active
	{color:#0063a7;
	text-decoration:none;}

a:hover
	{color:#0063a7;
	text-decoration:underline;}
	
	
#print{
	margin-top:5px;
	float:right;
	width:800px;
	text-align:right;
	height:40px;
	vertical-align: top;
	padding-top:3px;
	color:#8daec4;
	padding-bottom:5px;	
	font : normal xx-small Verdana, Arial, Helvetica, sans-serif;

	}

#printProx{
	margin-top:0px;
	float:right;
	width:800px;
	text-align:right;
	height:20px;
	vertical-align: top;
	padding-top:0px;
	color:#8daec4;
	padding-bottom:5px;	
	font : normal xx-small Verdana, Arial, Helvetica, sans-serif;

	}
	

.work{
	font-size:11px;
	color:#0063a7;
	text-align:center;
	vertical-align:top;

}
	
#new{
	width:500px;
	text-align:left;
	float:left;
}

.titlesC
{	border:1px solid #c6d6e6;
width:500px;
left:0px;
}
	
	
.titles{	
	font-size:12px;
	color:#0063a7;
	border-top:0px none;
	text-align:left;
	padding-bottom:8px;
	margin-bottom:10px;
	font-weight:bold;
	margin-top:5px;
	vertical-align:top;
	padding-top:5px;
	}
	
	
	
.dist{	
	font-size:12px;
	color:#ff0000;
text-align:center;
	padding-bottom:8px;
	margin-bottom:10px;
	font-weight:bold;
	vertical-align:top;
	padding-left:5px;

	}
	
.dist2{	
	font-size:11px;
	vertical-align:top;
	padding-bottom:8px;
	margin-bottom:10px;
	font-weight:bold;

	}
	

	

#map{
	float:left;
	text-align:center;
	margin-top:0px;

	

	}
	
.name{
border-top:0px none;
	color:#0063a7;
	font : normal 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:left;

}

.table1{
	color:#7d7d7d;

	}
	
.table2{
	border-bottom:1px solid #ebebeb;
	padding:3px;}

.table2_hover{
	border-bottom:1px bold solid #ebebeb;
	padding:3px;}
	
#CalloutDivInfote1
{
      position:absolute;
      overflow:auto;
      left:20px;
      top:20px;
      width:180px;
      height:90px;
      z-index:16;
	  cursor:text;
}

#CalloutDivInfote1Close

{
      position:absolute;
      width:14px;
      height:14px;
      z-index:17;
     cursor:pointer;
}

#CalloutDivInfote2Close

{
     position:absolute;
      width:14px;
      height:14px;
      z-index:17;
      cursor:pointer;
}

#CalloutDivInfote2
{
      position:absolute;
      overflow:auto;
      left:30px;
      top:22px;
      width:195px;
      height:126px;
      z-index:16;
}

#CalloutDivInfoteMapClose

{
     position:absolute;
      width:14px;
      height:14px;
      z-index:17;
      cursor:pointer;
}

#CalloutDivInfoteMap
{
      position:absolute;
      overflow:auto;
      width:400px;
      height:300px;
      z-index:16;
}

.PoiPin
{
	cursor:pointer;
}

.Pin
{
	cursor:pointer;
}

.Stroke
{
	cursor:pointer;
}

.address
{
	color:#7d7d7d;
	font : x-small Verdana, Arial, Helvetica, sans-serif;
	line-height:14px;	
}

b
{
	color:#0063a7;
	font : bold x-small Verdana, Arial, Helvetica, sans-serif;
padding-bottom:5px;
}

p
{

	font : xx-small Verdana, Arial, Helvetica, sans-serif;
}


#text{
margin-top:0px;
z-index:20;
text-align:left;color:#7d7d7d;
font : xx-small Verdana, Arial, Helvetica, sans-serif;
line-height:12px;
}

hr{
	color:#9cb7d0;
	width:90%;
	height:1px;
	float:left;
	text-align:left;
	margin-top:5px;}
	
	
	#MainMap
		{
		position:absolute;
		overflow: hidden;
		border: 2px solid black;
		background-color:White;	
		top:80px;
		left:10px;
		width:498px;
		height:500px;
		float:left;	
		z-index:1;
		margin-bottom:0px;
		}

#OverviewMap
		{
			position:absolute;
			overflow: hidden;
			border: 2px solid black;
			background-color:White;
			width:70px;
			height:70px;
			left:438PX;
			top:510PX;
			z-index:3;
			margin-bottom:0px;
		}
#myZoom
		{
		position:relative;
		margin-bottom:0px;
		float:left;
		height:60px;
		z-index:4;
		margin-top:10px;

		}
		
	#CalloutDivInfoteSmall

{
      position:absolute;
      overflow:auto; 
      left:10px;
      top:10px;
      width:200px;
      height:120px;
      z-index:16;
}

 

#CalloutDivInfoteSmallClose 

{
      position:absolute;
      background-image:url(resources/images/close_grey.gif);
      right:23px;
      top:12px;
      width:15px;
      height:15px;
	  z-index:17;
      cursor:pointer;

}
.MapCalloutTrTop
{
	padding-top:10px;
	padding-left:5px;
	padding-right:25px;
	height:40px;
	vertical-align:top;
}
.MapCalloutTr
{
	border:1px Red;
	width:100%;
	height:182px;	
}
.MapCalloutTd
{

}
#CallOutMap
{
	position:absolute;
	overflow: hidden;
	border: 2px solid black;
	background-color:White;
	left:5px;
	top:40px;
	width:280px;
	height:195px;
}

.NaviPoint
{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	
	color:White;
	font-weight:bold;
	font-size:7;
	line-height: 26px
}

.PoiNumText
{
	position:absolute;
	left:3px;
	top:7px;
	color:White;
	width:14px;
	text-align:center;
	font-weight:bold;
	font-size:7;
}
.PoiIcon
{
	position:absolute;
	left:17px;
	top:6px;
	width:16px;
	height:16px;
}
#addressInCallout
{
	font-weight:bold;
	text-align:left;
	position:absolute;
	left:10px;
	width:270px;
}

#bottomInCallout
{
	font-weight:bold;
	text-align:left;
	position:absolute;
	left:10px;
	top:240px;
	width:280px;
}

#pinDialogPrevRoute
{
	cursor:pointer;
}

#pinDialogNextRoute
{
	cursor:pointer;
}

.naviresult
{
	cursor:pointer;
}
